---
const title = 'GTO';
const description = 'GTO es un anime de acción y aventura que sigue la historia de Eikichi Onizuka, un ex pandillero que se convierte en maestro';
---


<div>
  <h1>{title}</h1>
  <p>{description}</p>
  <a href="/about">Acerca de GTO</a>
</div>
