---
// Layout.astro
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex flex-col justify-between items-center h-screen">
    <header>
      <h1>Mi Sitio Web</h1>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <p>© 2023 Mi Sitio Web</p>
    </footer>
  </body>
</html>